@import '~antd/dist/antd.css';

html,
body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

.flex-container {
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    /* align items in Main Axis */
    align-items: stretch;
    /* align items in Cross Axis */
    align-content: stretch;
    /* Extra space in Cross Axis */
}

.flex-container-wrap {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    align-content: stretch;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-item-fixed {
    flex: 0;
    /* same as flex: 0 0 auto; */
}

.flex-item-grow {
    flex: 1;
    /* same as flex: 1 1 auto; */
}

.ant-input-disabled {
    background-color: #fafafa;
    color: rgba(0, 0, 0, 0.65)
}

/* tables */
.order-table-wrap .ant-spin-nested-loading,
.order-detail-table-wrap .ant-spin-nested-loading {
  width: 100%;
}

.order-table,
.order-detail-table {
  padding: 10px;
}

.order-table .ant-table-fixed-header .ant-table-scroll .ant-table-header,
.order-detail-table .ant-table-fixed-header .ant-table-scroll .ant-table-header {
  overflow: hidden !important;
  padding-bottom: 17px !important;
}

.order-table .ant-table-thead>tr>th,
.order-detail-table .ant-table-thead>tr>th {
  line-height: 1.4;
  font-size: 0.85rem;
}

.order-table .ant-table-tbody>tr>td,
.order-detail-table .ant-table-tbody>tr>td {
  line-height: 1.2;
  font-size: 0.8rem;
}

.order-table-row,
.order-detail-table-row {
  vertical-align: center;
}

.order-table-row-selected,
.order-detail-table-row-selected {
  background: #bae7ff;
}

.order-table .ant-badge {
  padding-left: 12px;
  padding-bottom: 2px;
}

.order-table .ant-badge-dot {
  height: 8px;
  width: 8px;
}


/* filter legend */

.filter-legend {
    padding: 10px 10px 10px 45px;
    height: 130px;
    width: 96%;
    margin-left: 10px;
}

.filter-legend .ant-alert-icon {
    position: absolute;
    top: 10px;
    left: 10px;
    font-size: 20px;
}

.filter-legend .ant-alert-message {
    font-size: 14px;
    font-weight: 600;
}


.order-form .ant-form-item {
  margin-bottom: 0;
  line-height: 1.2;
}

.order-form .ant-badge-dot {
  height: 8px;
  width: 8px;
}

.order-form .btn-complete-order {
  width: 100%;
}

.all-orders {
  background-color: royalblue;
}

.complete-order {
  background-color: olivedrab;
}

.in-progress-order {
  background-color: mediumvioletred
}

